/*-------------------------------------------------
typography
-------------------------------------------------*/

body {
  font-family: $base-font-name;
  font-size: $base-font-size;
  font-weight: 400;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

a, button {
  transition: all .3s;
  color: $primary-color;
  text-decoration: none;
  &:hover, &:focus, button:hover {
    text-decoration: none;
    transition: all .3s;
    color: $secondary-color;
  }
}


p {
  margin-bottom: 30px;
}

hr {
  border-top: 1px solid $gray-dark  ;
}