
$base-font-name     : 'Poppins', sans-serif;

$base-font-size     : 14px;

$white              : #ffffff;
$black              : #000000;
$black-light        : #222222;
$black-lighter      : #333333;
$gray               : #d4d4d4;
$gray-dark          : #acacac;
$gray-light         : #dddddd;
$gray-lighter       : #e4e4e4;
$gray-lighter-alt   : #eeeeee;

// $primary-color        : #f53a2d;
$primary-color        : #668B6A;
$secondary-color      : #fbeba1;


